.env
.env.*
!.env.example

/node_modules/
/.phpunit.result.cache
/public/hot
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

Thumbs.db
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
